<%- sex = { 1 => 'Male', 2 => 'Female' } -%>
<%- lang = { 'en' => t( 'lang.en' ), 'es' => t( 'lang.es' ) } -%>
<h3>Basic Information</h3>
<hr style="margin-top: -30px; border-color: silver;">
<div class="profile-info">
    <div class="block-label">
        <span class="label">Full Name:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.profile.first_name -%> <%= user.profile.last_name -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Email:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.email -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Born:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.profile.born -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Sex:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= sex[ user.profile.sex ] -%></span>
    </div><br>    
    <div class="block-label">
        <span class="label">Language:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= lang[ user.profile.lang ] -%></span>
    </div><br>
    <%- if( current_user.login == params[ :user_id ] ) -%>
        <div class="profile-actions">
            <%= button_tag( 'Edit Profile', { :class => 'btn btn-inverse', :type => nil, :name => nil, :id => 'edit-profile-btn' } ) -%>
        </div>
    <%- end -%>
</div>
<div class="profile-form profile-info">
    <%- sex = { 'Male' => 1, 'Female' => 2 } -%>
    <%- lang = { t( 'lang.en' ) => 'en', t( 'lang.es' ) => 'es' } -%>
    <%= form_for( user.profile, { :as => :user_profile, :url => update_profile_user_profiles_path( user.profile ), :method => :put } ) do |f| -%>
        <div class="block-label">
            <%= f.label( :first_name, 'First Name:', { :class => 'label' } ) -%>
        </div>
        <div class="block-info">
            <%= f.text_field( :first_name ) -%>
        </div><br>
        <div class="block-label">
            <%= f.label( :last_name, 'Last Name:', { :class => 'label' } ) -%>
        </div>
        <div class="block-info">
            <%= f.text_field( :last_name ) -%>
        </div><br>
        <div class="block-label">
            <%= f.label( :born, 'Born:', { :class => 'label' } ) -%>
        </div>
        <div class="block-info">
            <%= f.date_select( :born, { :start_year => 2007, :end_year => 1930 } ) -%>
        </div><br>
        <div class="block-label">
            <%= f.label( :sex, 'Sex:', { :class => 'label' } ) -%>
        </div>
        <div class="block-info">
            <%= f.select( :sex, sex ) -%>
        </div><br>
        <div class="block-label">
            <%= f.label( :lang, 'Language:', { :class => 'label' } ) -%>
        </div>
        <div class="block-info">
            <%= f.select( :lang, lang ) -%>
        </div><br>
        <%- if( current_user.login == params[ :user_id ] ) -%>
            <div class="profile-actions">
                <%= f.submit( 'Save', { :class => 'btn btn-inverse' } ) -%>
                <%= button_tag( 'Back', { :class => 'btn btn-inverse back', :type => nil, :name => nil, :id => 'back-profile-btn' } ) -%>
            </div>
        <%- end -%>
    <%- end -%>
</div>