<%- sex = { 1 => 'Male', 2 => 'Female' } -%>
<h3>Information</h3>
<hr style="margin-top: -30px; border-color: silver;">
<div class="profile-info">
    <div class="block-label">
        <span class="label">Full Name:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.profile.first_name -%> <%= user.profile.last_name -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Email:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.email -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Born:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.profile.born -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Sex:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= sex[ user.profile.sex ] -%></span>
    </div><br>
    <div class="block-label">
        <span class="label">Registered:</span>
    </div>
    <div class="block-info">
        <span class="label label-info"><%= user.created_at -%></span>
    </div><br>
    <%- if( current_user.login == params[ :user_id ] ) -%>
        <div class="profile-actions">
            <%= link_to( 'Edit Profile', '#', { :class => 'btn btn-inverse' } ) -%>
        </div>
    <%- end -%>
</div>