<h3>Social Networks Manage</h3>
<hr style="margin-top: -30px; border-color: silver;">
<div class="social-networks-info">
    <div class="wrapper-social">
        <%= image_tag( 'facebook-social-icon.png' ) -%>
        <h4>Facebook Account</h4>
        <div class="social-networks-content">
            <%- if ( auth = user.authentications.find_by_provider( 'facebook' ) ) -%>
                <%= image_tag( auth.image.gsub( 'square', 'large' ) ) -%>
                <div class="provider-info">
                    <%= link_to( 'Facebook: @'+auth.nickname, auth.url, { :target => '_blank', :class => 'label label-info' } ) -%>
                    <br>
                    <span class="label">Name:</span>
                    <span class="label label-success"><%= auth.name -%></span>
                    <br>
                    <span class="label">URL:</span>
                    <span class="label label-success url"><%= auth.url -%></span>
                </div>
                <%- if( current_user.login == params[ :user_id ] ) -%>
                    <%= link_to( 'Update', '/auth/facebook', { :class => 'btn btn-info btn-mtop' } ) -%>
                    <%= link_to( 'Remove', destroy_provider_path(), { :class => 'btn btn-danger btn-mtop', :method => :delete, :data => { :confirm => 'Are you sure to remove your Facebook Account of this page?' } } ) -%>
                <%- end -%>
            <%- elsif( current_user.login == params[ :user_id ] ) -%>
                <%= link_to( 'Connect with Facebook', '/auth/facebook', { :class => 'btn btn-info' } ) -%>
            <%- end -%>
        </div>
    </div>
    <hr>
    <div class="wrapper-social">
        <%= image_tag( 'twitter-social-icon.png' ) -%>
        <h4>Twitter Account</h4>
        <div class="social-networks-content">
            <%- if ( auth = user.authentications.find_by_provider( 'twitter' ) ) -%>
                <%= image_tag( auth.image.gsub( '_normal', '' ) ) -%>
                <div class="provider-info">
                    <%= link_to( 'Twitter: @'+auth.nickname, auth.url, { :target => '_blank', :class => 'label label-info' } ) -%>
                    <br>
                    <span class="label">Name:</span>
                    <span class="label label-success"><%= auth.name -%></span>
                    <br>
                    <span class="label">URL:</span>
                    <span class="label label-success url"><%= auth.url -%></span>
                </div>
                <%- if( current_user.login == params[ :user_id ] ) -%>
                    <%= link_to( 'Update', '/auth/twitter', { :class => 'btn btn-info btn-mtop' } ) -%>
                    <%= link_to( 'Remove', destroy_provider_path(), { :class => 'btn btn-danger btn-mtop', :method => :delete, :data => { :confirm => 'Are you sure to remove your Twitter Account of this page?' } } ) -%>
                <%- end -%>
            <%- elsif( current_user.login == params[ :user_id ] ) -%>
                <%= link_to( 'Connect with Twitter', '/auth/twitter', { :class => 'btn btn-info' } ) -%>
            <%- end -%>
        </div>
    </div>
    <hr>
    <div class="wrapper-social">
        <%= image_tag( 'google-social-icon.jpg' ) -%>
        <h4>Google Account</h4>
        <div class="social-networks-content">
            <%- if ( auth = user.authentications.find_by_provider( 'googles' ) ) -%>
                <%= image_tag( auth.image ) -%>
                <div class="provider-info">
                    <%= link_to( 'Google: @'+auth.nickname, auth.url, { :target => '_blank', :class => 'label label-info' } ) -%>
                    <br>
                    <span class="label">Name:</span>
                    <span class="label label-success"><%= auth.name -%></span>
                    <br>
                    <span class="label">URL:</span>
                    <span class="label label-success url"><%= auth.url -%></span>
                </div>
                <%- if( current_user.login == params[ :user_id ] ) -%>
                    <%= link_to( 'Update', '/auth/google_oauth2', { :class => 'btn btn-info btn-mtop' } ) -%>
                    <%= link_to( 'Remove', destroy_provider_path( auth.uid ), { :class => 'btn btn-danger btn-mtop', :method => :delete, :data => { :confirm => 'Are you sure to remove your Twitter Account of this page?' } } ) -%>
                <%- end -%>
            <%- elsif( current_user.login == params[ :user_id ] ) -%>
                <%= link_to( 'Connect with Google', '/auth/google_oauth2', { :class => 'btn btn-info' } ) -%>
            <%- end -%>
        </div>
    </div>
</div>