<%= form_for( @user, { :url => create_user_users_path, :method => :put } ) do |f| %>

  <legend>Account Info</legend>
  <div style="margin-top: 20px;">
    <%= f.label :login, 'Username', { :class => 'label label-info' } %>
    <%= f.text_field :login, { :autofocus => true, :required => true, :placeholder => 'Username', :value => params[ :user ][ :login ].gsub( '.', '-' ) } %>
  </div><br>
  <div>
    <%= f.label :email, { :class => 'label label-info' } %>
    <%= f.email_field :email, { :required => true, :placeholder => 'Email', :value => params[ :user ][ :email ] } %>
  </div><br>
  <div>
    <%= f.label :password, { :class => 'label label-info' } %>
    <%= f.password_field :password, { :required => true, :placeholder => 'Your Password' } %>
  </div><br>
  <div style="margin-bottom: 15px;">
    <%= f.label :password_confirmation, { :class => 'label label-info' } %>
    <%= f.password_field :password_confirmation, { :required => true, :placeholder => 'Repeat your password' } %>
  </div><br>

  <%= f.fields_for( :profile ) do | p | -%>
    <%= p.hidden_field( :first_name, { :value => params[ :user ][ :profile_attributes ][ :first_name ] } ) -%>
    <%= p.hidden_field( :last_name, { :value => params[ :user ][ :profile_attributes ][ :last_name ] } ) -%>
    <%= p.hidden_field( :remote_avatar_url, { :value => params[ :user ][ :profile_attributes ][ :remote_avatar_url ] } ) -%>
    <%= p.hidden_field( :role, { :value => params[ :user ][ :profile_attributes ][ :role ] } ) -%>
  <%- end -%>

  <div>
    <%= f.submit "Sign up", { :class => 'btn btn-info', :style => 'margin-bottom:20px;' } %>
  </div>
<% end %>
<br>
<div class="or">
  <span>OR</span>
  <%= link_to( "Sign in", '#', { :class => 'btn btn-inverse' } ) -%>
</div>
