<%- role = { 'super_admin' => 'Super Admin', 'admin' => 'Admin' } -%>
<section id="wrapper-users">
    <h1>Listing Users</h1>

    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Avatar</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%- @users.each do |user| -%>
                <tr>
                    <td><%= user.id -%></td>
                    <td><%= (user.profile.avatar_url.nil?) ? image_tag( 'noavatar.png' ) : image_tag( user.profile.avatar_url ) -%></td>
                    <td><%= user.login -%></td>
                    <td><%= user.email -%></td>
                    <td><%= role[ user.profile.role ] -%></td>
                    <td>
                        <%= link_to( 'Edit', edit_user_path( user ), { :class => 'btn btn-warning' } ) -%>
                        <%= link_to( 'Profile', user_profiles_path( user.login ), { :class => 'btn btn-info' } ) -%>
                        <%= link_to( 'Destroy', cancel_user_registration_path( :user_id => user.id ), { :method => :delete, :confirm => 'Are you sure to want delete it?', :class => 'btn btn-danger' } ) -%>
                    </td>
                </tr>
            <%- end -%>
        </tbody>
    </table>
</section>
