<h1>Listing Tags Post: <%= @post.title -%></h1>

<table>
	<tr>
		<th>Name</th>
		<th></th>
		<th></th>
	</tr>
	<%= render( @post.tags ) %>
</table>

<%- @capture = capture do -%>
    <p>La hora es <%= Time.now -%></p>
	<p>La hora es <%= Date.today -%></p>
<%- end -%>

<%= @capture -%>

<div>
	<%= link_to( 'Back', post_path(@post) ) -%>
</div>