<%= form_for @post, { :url => posts_path } do |f| -%>

	<%- if @post.errors.any? -%>
		<div id="errorExplanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being save:</h2>
			<ul>
				<%- @post.errors.full_messages.each do |msg| -%>
					<li><%= msg -%></li>
				<%- end -%>
			</ul>
		</div>
	<%- end -%>

	<%= f.hidden_field( :created, { :value => Date.today } ) -%>
	<%= f.hidden_field( :author, { :value => current_user.login } ) -%>
	<%= f.hidden_field( :text, { :value => 'Edit content for you post' } ) -%>

	<div>
		<%= f.label :title, 'Title Post' -%><br>
		<%= f.text_field :title -%>
	</div>

	<div>
		<%= f.label :description -%><br>
		<%= f.text_area :description, { :rows => 1, :cols => 40 } -%>
	</div>

	<%- f.fields_for :categories do |category| -%>
		<div>
			<%= category -%>
		</div>
	<%- end -%>

	<div>
		<%= f.submit 'Next', { :class => 'btn btn-info' } -%>
	</div>
<%- end -%>