<%- url = ( ( @post.new_record? ) ? posts_path : post_path( @post ) ) -%>
<%= form_for @post, { :url => url } do |f| -%>

	<%- if @post.errors.any? -%>
		<div id="errorExplanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being save:</h2>
			<ul>
				<%- @post.errors.full_messages.each do |msg| -%>
					<li><%= msg -%></li>
				<%- end -%>
			</ul>
		</div>
	<%- end -%>

	<%= f.hidden_field( :created, { :value => Date.today } ) -%>

	<div>
		<%= f.label :title -%>
		<%= f.text_field :title -%>
	</div><br>

	<div>
		<%= f.label :author -%>
		<%= f.text_field :author -%>
	</div><br>

	<div>
		<%= f.label :text -%>
		<%= f.text_area :text -%>
	</div><br>

	<div>
		<%= f.submit -%>
	</div>
<%- end -%>