<div id="banner">
	<div class="banner-title">
		<h1>Blog's</h1>
		<h1>Games</h1>
	</div>
</div>

<section id="content">
	<%- if( ( @posts.size == 0 ) && !params[ :q ].nil? ) -%>
		<article>
			<h1>Search Result <%= params[ :q ] -%></h1>
			<p>No results were found. ¿Want to search again?</p>
			<%= form_tag( '/', { :method => 'GET' } ) do -%>
				<%= search_field_tag( :q, params[ :q ], { :placeholder => 'Search' } ) -%>
				<%= button_tag( '', { :for => 'search', :alt => 'Search', :name => nil } ) -%>
			<%- end -%>
		</article>
	<%- else -%>
		<%- @posts.each do | post | -%>
			<%- comments = ( post.comments.all.size != 0 ) ? post.comments.all.size : 'No' -%>
			<article>
			<div class="wrapper-post">
				<aside>
					<ul>
						<%- post.categories.all.each do | c | -%>
							<li><%= link_to( raw( "<span>></span>" + c.name ), category_path( c ) ) -%></li>
						<%- end -%>
						<li>
							<%= raw( "<span>></span>"+ t( 'index.written_by' ).to_s ) -%>
							<%= link_to( post.author, user_profiles_path( :user_id => post.author ) ) -%></li>
						<li><span>></span><%= comments -%> <%= t( 'index.comments' ) -%></li>
						<li><%= raw( "<span>></span>"+ t( 'index.created' ).to_s ) +' '+ post.created -%></li>
					</ul>
				</aside>
				<div class="content">
					<h1><%= link_to( post.title, post_path( post ) ) -%></a></h1>
					<p><%= raw( post.description ) -%></p>
					<ul class="actions">
						<li><%= link_to( t( 'index.read_more' ), post_path( post ) ) -%></li>
						<%- if ( can?( :destroy, Post ) ) -%>
							<li><%= link_to( 'Destroy Post', post_path( post ), { :method => :delete, :data => { :confirm => 'Are you sure?' } } ) -%></li>
						<%- end -%>
					</ul>
				</div>
			</div>
			</article>
			<hr>
		<%- end -%>

		<%= paginate @posts -%>
	<%- end -%>
</section>
