<section id="content">
	<article class="post">
		<div class="content-post">
			<h1 data-mercury="simple" id="title"><%= @post.title -%></h1>
			<p class="info">
				<span class="written">Written by <%= @post.author -%></span>
				|
				<span class="published">Published <%= @post.created -%></span>
			</p><br>
			<div class="description-content" id="description" data-mercuy="full">
				<strong>Description Post</strong>
				<div id="description" data-mercury="full">
					<%= raw( @post.description ) -%>
				</div>
			</div>
			<div class="text-content">
				<strong class="content-post-title">Content Post</strong>
				<div id="text" data-mercury="full">
					<%= raw( @post.text ) -%>					
				</div>
			</div>
			<ul>
				<strong id="info-save">To save, click save on the top bar</strong>
				<li><%= link_to( 'Share', '#', { :id => 'share_post' } ) -%></li>
				<%- if can? :update, @post -%>
					<li><%= link_to( 'Edit Post', mercury_editor_path( request.path ), { :id => 'edit_link', :data => { :save_url => post_path(@post) } } ) -%></li>
				<%- end -%>
			</ul>
			<hr>
			<div class="tags">
				<strong>Tags:</strong>
				<%- @post.tags.each do |tag|  -%>
					<%= link_to( tag.name, '#' ) -%>
				<%- end -%>
			</div>
			<hr>
			<div class="wrapper-comments">
				<%= render( { :partial => 'comments/form' } ) -%>
				<h4><%= (@post.comments.all.size != 0 ) ? @post.comments.all.size : 'No' -%> Comments</h4>
				<%= render( @post.comments ) -%>
			</div>
		</div>
	</article>
</section><br>
<div id="alert">
	<p class="content"></p>
	<hr>
	<a id="ok-alert" class="btn btn-info">OK</a>
</div>