<section id="content">
	<article class="post">
		<div class="content-post">
			<h1 data-mercury="simple" id="title"><%= @post.title -%></h1>
			<p class="info"><span class="written">Written by <%= @post.author -%></span> | <span class="published">Published <%= @post.created -%></span></p>
			<div class="text-content" id="text" data-mercury="full"><%= raw( @post.text ) -%></div>
			<ul>
				<li><%= link_to( 'Share', '#' ) -%></li>
				<li><%= link_to( 'Edit Post', '/editor' + request.path, { :id => 'edit_link', :data => { :save_url => mercury_update_post_path(@post) } } ) -%></li>
			</ul>
			<hr>
			<div class="tags">
				<strong>Tags:</strong>
				<%- @post.tags.each do |tag|  -%>
					<%= link_to( tag.name, '#' ) -%>
				<%- end -%>
			</div>
			<hr>
			<div class="wrapper-comments">
				<%= render( { :partial => 'comments/form' } ) -%>
				<h4><%= (@post.comments.all.size != 0 ) ? @post.comments.all.size : 'No' -%> Comments</h4>
				<%= render( @post.comments ) -%>
			</div>
		</div>
	</article>
</section><br>
<div id="alert">
	<p class="content"></p>
	<hr>
	<a id="ok-alert" class="btn btn-info">OK</a>
</div>