<header>
	<nav>
		<figure id="blog-icon" title="Go to Home">
			<%= link_to( image_tag( 'Blog-Icon.png', { :class => 'blogIcon' } ), root_path ) -%>
		</figure>
		<ul>
		<%- Menu.all.each do |menu| -%>
			<li><%= link_to( menu[:name], menu[:href], { :onclick => menu[:onclick] } ) -%></li>
		<%- end -%>
		</ul>
		<%= form_tag( '/', { :method => 'GET' } ) do -%>
			<%= search_field_tag( :q, params[:q], { :placeholder => 'Search' } ) -%>
			<%= button_tag( '', { :for => 'search', :alt => 'Search', :name => nil } ) -%>
		<%- end -%>
	</nav>
</header>

<section class="panel-user">
	<div class="login">
		<%- if user_signed_in? -%>
			<%= link_to( current_user.login, user_profiles_path(current_user), { :onclick => 'return(panelUser())' } ) -%>
		<%- else -%>
			<%= link_to( 'Sign in', new_user_session_path ) -%>
		<%- end -%>
	</div>
	<%- if user_signed_in? -%>
		<div class="panel">
			<p><%= (current_user.profile.avatar_url.nil?) ? image_tag( 'noavatar.png' ) : image_tag( current_user.profile.avatar_url ) -%></p>
			<p><%= current_user.login -%></p>
			<p><%= current_user.email -%></p>
			<%= link_to( 'View Profile', user_profiles_path(current_user), { :class => 'btn btn-info' } ) -%>
			<%= link_to( 'Sign out', destroy_user_session_path, { :method => :delete, :class => 'btn btn-danger' } ) -%>
			<%= link_to( 'Users', users_path, { :class => 'btn btn-warning btn-users' } ) if( can?( :manage, User ) ) -%>
			<%= link_to( 'New post', new_post_path, { :class => 'btn btn-success btn-users' } ) if( can?( :manage, Post ) ) -%>
		</div>
	<%- end -%>
</section>