<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= favicon_link_tag 'favicon.png' -%>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render( { :partial => 'layouts/categories' } ) -%>

    <section id="global-wrapper">
      <%= render( { :partial => 'layouts/header' } ) -%>

      <section id="wrapper">
        <%= yield %>
      </section>

      <%= render( { :partial => 'layouts/footer' } ) -%>
    </section>

</body>
<script>document.write('<script src="http://' + (location.host || 'localhost')
.split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>
